*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: left;
}
nav h1{
    margin: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
aside{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    width: 250px;
    background-color: #333;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}
section{
    display: flex;
    flex-direction: row;
}
section img{
    height: calc(100vh - 50px);
    margin: 5px;
    width: 1300px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #333;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
button{
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
}
/*#f4f4f4;*/