*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: left;
}
nav h1{
    margin: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
aside{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    width: 250px;
    background-color: #333;
    margin-bottom: 5px;
}
/*#f4f4f4;*/