*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: left;
}
nav h1{
    margin: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: #f4f4f4;
}
.login-container{
    border-radius: 20px;
}
.login-container form h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.login-container form input{
    height: 10px;
    width: 250px;
    border: none;
    border-radius: 10px;
    outline: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.login-container form button{
    height: auto;
    width: 250px;
    border: none;
    border-radius: 10px;
    background-color: rgb(125, 124, 124);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.login-container form button:hover{
    background-color: rgb(90, 89, 89);
}
.login-container form button:active{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    background-color: #333;
    padding: 20px;
}